Package: com.mrrhak.cydiarepo.mrrhakcode
Name: Mrr Hak Code
Version: 1.0.0
Architecture: iphoneos-arm
Description: A simple widget style
Homepage: http://www.mrrhak.com
Depiction: http://www.mrrhak.com
Maintainer: Mrr Hak's Repo <contact@mrrhak.com>
Author: Mrr Hak <contact@mrrhak.com>
Section: Widgets
