Package: com.mrrhak.cydiarepo.ringtones.firebts
Name: Fire BTS
Version: 1.0.0
Architecture: iphoneos-arm
Description: by Unknown
Homepage: http://www.mrrhak.com
Depiction: http://www.mrrhak.com
Maintainer: Mrr Hak's Repo <contact@mrrhak.com>
Author: Mrr Hak <contact@mrrhak.com>
Section: Ringtones
